header{
    min-height: 50px;
    background-color: skyblue; 
}

.nav-link{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    color: black;
    transition: 0.5s
    
}

.nav-link:hover{
    margin-top: 10px;
    width: 120px;
    transform: scale(1);
    border-radius: 20px;
    background-color:#F4511E; 
    transition: 0.5s
}


.backgroundimage>h2{
    text-align: center;
    padding-top: 100px;
    font-weight: bold;
    font-size: 4rem;
    color: rgb(183, 28, 28);
    position: relative;
    animation: titre 30s infinite;
}

.backgroundimage{
    height: 300px;
    background-image: url("../images/numerique_web.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    width: 640px;
    height: 490px;
}


footer{
    min-height: 100px;
    background-color: gray;
}

main{
    background-color: rgb(56, 231, 231);
}

#textecontact{
    font-size: 2rem;
    color: rgb(69, 66, 54);
    font-weight: bold;
    color: rgb(8, 8, 8);
    padding-left: 25px;
    text-align: center;
    
}

.btn-lg{
    margin-top: 25px;
}

.form-label{
    text-transform: uppercase;
    font-weight: bold;
}



#captcha{
    display: block;
    margin-left: 200px;
}

#droitauteur{
    padding-top: 80px;
}

#nom{
    margin-left: 500px;
}

#nom p{
    font-size: 23px;
}

.introduction{
    padding-left: 25px;
    padding-right: 25px;
}

.introduction p{
    text-align: justify;
}
.description1, .description2{
    text-align: justify;
}

.description1{
    padding-left: 25px;
}
.description2{
    padding-right: 25px;
}

.labelform{
    width: 50%;
}

#forme_animee{
    width: 100px;
    height: 100px;
    margin-left: 10px;
    background-color: rgb(204, 0, 51 );
    border-radius: 50px;
    position: relative;
    animation-name: tourpage;
    animation-duration: 5s;
    animation-iteration-count: infinite; 
}

@keyframes tourpage{
    0%   {top: 0px; left: 0px; background: red;}
    25%  {top: 0px; left: 1200px; background: blue;}
    50%  {top: 1200px; left: 1200px; background: yellow;}
    75%  {top: 1200px; left: 0px; background: green;}
    100% {top: 0px; left: 0px; background: red;}
  }


svg{
    margin-left: 25%;
    fill: red ;
    stroke: yellow ;
    stroke-width:0.12;
    animation: monSvg 1.5s infinite;
}

@keyframes monSvg{
    0%{fill: yellow;}
    25%{transform: translateX(100px);} 
    50%{transform: rotate(180deg);}
    75%{transform: rotate(-180deg);}
    100%{transform: scale(1)}
    }

    .infolettre{
        width: 60%;
        z-index:3;
        position: relative;
        transition: width 2s;
        background-color: #F39C12 ;
        border: solid black 1px;
        padding-top: 5px;
        margin-top: 25px;
        height: 350px;
        width: 500px;
        animation: monformulaire 2s infinite ;
    }

    @keyframes monformulaire{
        from{left: 0px}
        to{left:2px; transform: scale(1.2); }
    }


    .infolettre:hover{
        width: 300px;
        background-color: chartreuse;
        transform: scale(1.5);
        transition: width 2s;
    }
   
    #forminfolettre{
        display: none;
    }

    #boutonfermer, #boutonenvoyer{
        margin-top: 240px;
    }
    


    .liens{
        font-size: larger;
        font-weight: bold;
        color: blue;
        scroll-behavior: smooth;
        transform: scale(2);
    }
    


   
    
   